* {
	color: white; 
	border: 0; padding: 0; margin: 0;
	font-size: 1em;
	font-family: Helvetica, arial, sans-serif;
}

*:focus {
	outline: none;
}

body { 
	background-color: #58a8e0;
	min-width: 800px;
}

body > div {
	position: absolute;
	width: 100%;
	min-width: 800px;

}

#title {
	height: 6em;
	background-color: white;
	border-bottom: 1px solid #b2daf7;
}

#title > div {
	position: relative;
	display: inline-block;
	top: 33%;
	left: 2%;
	color: #b5b5b5;
	font-size: 2em;
	font-weight: bold;
	word-spacing: none;
}

#title > div > span {
	display: none;
	color: #c7c7c7
}

#interface {
	top: 6em;
	height: 87.5%;

}

#interface > div {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}


#content {
	z-index: 1;
	top: 25%;
	width: 750px;
	padding: 15px;
	background-color: #58a8e0;
	text-align: center;
}	

#content_menu {
	z-index: 0;
	bottom: 70%;
	width: 780px;
}

#content_tabs {
	width: 750px;
}

#content_tabs > div {
	display: inline-block;
	width: 24%;
	text-align: center; 
	padding-top: 5px;
	padding-bottom: 5px;
	transition: text-shadow 0.1s ease;
}

#content_tabs >div:hover {
	cursor: pointer;
 	text-shadow: 0px 0px 10px #80bfec;
}

 .round_div {
 	border: 3px solid #80bfec; border-radius: 20px;
 }

input {
	display: inline-block;
 	border: 2px solid #80bfec; border-radius: 20px;
 }

input[type="button"] {
 	width: 100px;
 	padding: 2px;
 	background-color: #58a8e0;
 	transition: text-shadow 0.2s ease, box-shadow 0.2s ease;
 }

 input[type="button"]:hover {
 	cursor: pointer;
 	text-shadow: 0px 0px 1px #80bfec;
 	box-shadow: inset 0 0 5px #80bfec;
 }

 #userZip {
	width: 75px;
	padding: 3px;
	padding-left: 25px;
	color: #000000;
	font-size: .9em;
}

.framed {
	bottom-margin : .5em;
	padding: .5em;
	background-color: #4a9ed9;
	border: 4px solid #51a3dc;border-radius: 7px;
}

h1 {
	font-size: 1.25em;
	font-weight: normal;
}

.highlight {
	font-size: 1.1em;
	color: #FFD34F;;
	text-shadow: 0px 0px 1px #FF9042;
}

#options_bar {
	float: right;
	margin: auto;
	margin-right: 10px;
	cursor: pointer;
}

.savedList {
	display: inline-block;
	width: 186px;
	padding: 3px;
	margin-left: -3px;
	text-align: center;
	border: 3px solid #80bfec;
	border-bottom: none;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	transition: text-shadow 0.1s ease;
	transition: box-shadow 0.1s ease;
}

.savedList:last-child {
	width: 189px;
	margin-right: -3px;
}

.savedList:hover {
	cursor: pointer;
 	text-shadow: 0px 0px 10px #80bfec;
 	box-shadow: inset 0px 0px 10px #80bfec;
 	box-shadow-bottom: none;
}


#display_wrap {
	width: 750px;
	float: left;
}

#budget_wrap {
	position: relative;
	float: left;
	height: 245px;
	width: 285px;
	padding: .5em;
	margin-top: 5px;
	background-color: #4a9ed9;
	border-radius:20px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#budget_wrap > div {
	display: inline-block;
	vertical-align: bottom;
	width: 94px;
	margin: auto;
}

#budget_wrap> div:first-child {
	text-align: left;
	width: 80px;
}

.div_column {
	width: 50px;
	height: 200px;
	margin-left: 25%;
	margin-top: 10px;
	border:2px solid white;
	border-radius: 5px;
}

.div_column > div {
	margin-top: -2px;
	margin-right: -2px;
	border: 2px solid white;
	border-left: none;
}

.fed_div_bar {
	background-color: #FF9042;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.sta_div_bar {
	background-color: #FFAE42;
}

.loc_div_bar {
	background-color: #FFC442;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}


/* Table Specifications */
table{
	position: relative;
	float: right;
	table-layout: fixed;
	height: 265px;
	width: 440px;
	background: white;
  	border-radius:20px;
 	border: 4px solid #51a3dc;
  	margin-right: 4px;
  	margin-top: 3px;
  	padding:2px;
  	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  	text-indent: 10px;
  	animation: float 5s infinite;
}

td {
	color: black;
	text-align: right;
	padding-right: .5em;
	font-size: .9em;
}

td:first-child {
	text-align: left
}

th {
	font-weight: normal;
	text-align: center;
	color: black;
	padding: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background:#EBEBEB
}
 
tr:nth-child(even) td {
  background:#EBEBEB;
}
 
tr:nth-child(even):hover td {
  background:#CDDDE8;
}

tr:nth-child(odd):hover td {
	background:#DDEDF8;
}

tr:last-child td:first-child {
  border-bottom-left-radius:10px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:10px;
}

